.tasks {
  margin-top: 6.4rem;
  width: 73.6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-inline: auto;
}

main {
  margin-top: 2.4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 1.6rem;
  border-radius: 8px;
  border-top: solid 1px var(--grey-400);
}

main img {
  margin-top: 6.4rem;
}

.textEmptyTasks{
  display: flex;
  flex-direction: column;
  align-items: center;
}